@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Das wird die Dumme Fragen T-Ausbildungswebsite. <br>
        Bitte haben Sie noch etwas geduld wir befinden uns im Aufbau.
        </p>
</div>
