@page
@model firstwebapp.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.ID" />
            <div class="form-group">
                <label asp-for="Question.Submitter" class="control-label"></label>
                <input asp-for="Question.Submitter" class="form-control" />
                <span asp-validation-for="Question.Submitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.dumbQuestion" class="control-label"></label>
                <input asp-for="Question.dumbQuestion" class="form-control" />
                <span asp-validation-for="Question.dumbQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Vote" class="control-label"></label>
                <input asp-for="Question.Vote" class="form-control" />
                <span asp-validation-for="Question.Vote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
